@charset "utf-8";

* { 
   -webkit-user-select: none; 
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

body {
   padding: 0;
   margin: 0;
   background-color: #333;
   overflow-y: hidden;
   overflow-x: hidden;
}


/* content sized to iPad 2 dimensions */
.content {
   padding: 25px;
   line-height: 1.625;
   background-color: #445368;
   width: 1024px;
   height: 768px;
   position: relative;
   text-align: center;
}


/* status bar at top of the screen */
.status-bar {
   margin: 0;
   padding: 0;
   height: 50px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   border-collapse: collapse;
   
   font-size: 36px;
   font-family: sans-serif;
   font-weight: 500;
   text-shadow: 1px 1px #000;
   text-align: left;
   line-height: 0px;
   color: white;
}


/* month / day in status bar */
.status-date { padding-left: 20px; }


/* temperature in status bar */
.status-temp { padding-right: 20px; }


/* vertical HIGH or LOW text in status bar */
.status-marker {
   font-size: 12px;
   -webkit-transform: rotate(-90deg);
}

/* Penguin status boxes */
.penguins {
   position: absolute;
   top: 98px;
   right: 25px;
   width: 120px;
   height: 610px;
   color: white;
   font-size: 22px;
   font-family: sans-serif;
   background-color: rgba(0, 0, 0, 0.4);
   padding: 20px 10px 0 10px;
   margin: 0;
}

.penguins li {
   height: 100px;
   text-align: left;
   list-style: none;
   background-repeat: no-repeat;
   background-position: 10px 10px;
   border-radius: 15px;
   padding-left: 80px;
   margin-bottom: 6px;
}

.penguins li:hover {
   background-color: rgba(255, 255, 255, 0.3);
}

.penguins li.selected {
   background-color: rgba(255, 255, 255, 0.2);
}

.penguins li:active {
   background-color: rgba(255, 255, 255, 0.4);
}


#green-penguin  { background-image: url('images/green_penguin.png');}
#red-penguin    { background-image: url('images/red_penguin.png'); }
#blue-penguin   { background-image: url('images/blue_penguin.png'); }
#orange-penguin { background-image: url('images/orange_penguin.png'); }
#polar-bear     { background-image: url('images/polar_bear.png'); }


.bill-title {
   text-align: center;
   color: white;
   font-size: 14px;
   padding: 2px;
   background-color: rgba(0, 0, 0, 0.8);
   height: 20px;
}

#budget {
   padding: 5px;
   text-align: center;
}

/* page transition animation */
@-webkit-keyframes slidein-left {
   0%   { left: 1500px; }
   100% { left: 25px; }
}

@-webkit-keyframes slideout-left {
   0%   { left: 25px; }
   100% { left: -1500px; }
}

@-webkit-keyframes slidein-right {
   0%     { left: -1500px; }
   100%   { left: 25px; }
}

@-webkit-keyframes slideout-right {
   0%     { left: 25px; }
   100%   { left: 1500px; }
}


/* dialog box */
.page {
   position: absolute;
   top: 98px;
   left: 1500px;
   
   padding: 30px;
   width: 800px;
   height: 570px;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.1);
}


button {
   outline: none;
   border: none;
}

/* define our own button style */
.tool-button {
   outline: none;
   border: none;
   width: 56px;
   height: 56px;
   border-radius: 12px;
}


/* settings button */
#settings-button {
   position: absolute;
   bottom: 20px;
   left: 90px;
   background: url("images/settings.png") 0 0 no-repeat;
}
#settings-button:active { background-position: 3px 3px; }
#settings-button:hover { background-color: rgba(255, 255, 255, 0.3); }


/* home button */
#home-button {
   position: absolute;
   bottom: 20px;
   left: 20px;
   background: url("images/home.png") 0 0 no-repeat;
}
#home-button:active { background-position: 3px 3px; }
#home-button:hover { background-color: rgba(255, 255, 255, 0.3); }


/* Next button at the bottom right of the screen */
.next-button {
   width: 131px;
   height: 62px;
   position: absolute;
   bottom: 10px;
   right: 0px;
   background: url("images/next1.png") 0 0 no-repeat;
}
.next-button:hover { background-color: rgba(0, 0, 0, 0); }
.next-button:active { background-position: 3px 3px; }


/* Back button at the bottom right of the screen */
.back-button {
   width: 131px;
   height: 62px;
   position: absolute;
   bottom: 10px;
   left: 0px;
   background: url("images/back.png") 0 0 no-repeat;
}
.back-button:hover { background-color: rgba(0, 0, 0, 0); }
.back-button:active { background-position: 3px 3px; }

/* spinner canvas */
#spinner {
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   display: block;
}


/* thermostat canvas */
#thermostat {
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   display: block;
}


/* simulator canvas */
#simulator {
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   display: block;
}


/* weather report */
#weather-report {
   width: 100%;
   text-align: center;
   color: rgba(255, 255, 255, 0.8);
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   font-size: 24px;
   margin-top: 40px;
   padding: 0;
}


/* weather high / low temperatures */
#weather-temps {
   width: 100%;
   text-align: center;
   color: rgba(255, 255, 255, 0.8);
   font-family: sans-serif;
   font-weight: normal;
   font-size: 48px;
   margin-top: 15px;
   padding: 0;
}


/* Big Title Screen Text */
.title {
   width: 100%;
   display: block;
   margin-top: 80px;
   margin-bottom: 120px;
   color: #ddd;
   font-family: 'Wellfleet', cursive, sans-serif;
   font-weight: 400;
   font-size: 84px;
   text-align: center;
   text-shadow:
      3px 3px 0 #000,
      1px -1px 0 #000,
      1px 1px 0 #000,
      -1px -1px 0 #000,  
      -1px 1px 0 #000;
}



/* Title Screen Play Button */
.big-button {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   border-radius: 30px;
   border: 3px solid rgba(255, 255, 255, 0.7);
   width: 100px;
   background-color: rgba(255, 255, 255, 0.2);
   margin-top: 0px;
   display: block;
   font-family: sans-serif;
   font-weight: 400;
   font-size: 20px;
   color: white;
   text-decoration: none;
   text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.big-button:hover {
   background: rgba(255, 255, 255, 0.5);
}

.big-button:active {
   background: rgba(255, 255, 255, 0.7);
}


#settings-page {
   background-color: #333;
   left: 25px;
   visibility: hidden;
}


input[type="range"] {
   -webkit-appearance:none;
   -moz-apperance:none;
   width:400px;
   height:12px;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance:none !important;  
   width:20px;
   height:20px;
   border-radius:10px;
   background-color: #fff;
}

label {
   color: white;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   font-size: 18px;
}

output {
   font-family: sans-serif;
   border-radius: 15px;
   background-color: white;
   color: #445368;
}

table {
   background-color: rgba(0, 0, 0, 0.2);
   border-spacing: 25px;
   text-align: right;
   margin-right: auto;
   margin-left: auto;
}

td.bubble {
   background-color: white;
   border-radius: 15px;
   padding: 3px 10px 3px 10px;
   text-align: center;
   width: 55px;
}

.button-group {
   font-size: 0; /* Inline block elements gap - fix */
   margin: 0;
   padding: 0;
   display: inline-block;
}

.button-group li {
   display: inline-block;
   margin-right: -1px;
}

button.radio-mix {
   display: inline-block;
   background-color: rgba(255, 255, 255, 0.5);
   border: 1px solid white;
   color: #fff;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 15px;
   padding: 8px;
   text-align: center;
   width: 130px;
}

button.radio-mix:hover {
   background-color: rgba(255, 255, 255, 0.3);
}

button.radio-mix:active {
   background-color: rgba(255, 255, 255, 0.8);
}

button.radio-mix[checked=true] {
   background-color: rgba(255, 255, 255, 0.1);
}

.button-group li:first-child .radio-mix {
  border-radius: 18px 0 0 18px;
}

.button-group li:last-child .radio-mix {
  border-radius: 0 18px 18px 0;
}


/* HEAT, OFF, COOL Switch */
#heating-switch {
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 72px;
   height: 28px;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.5);
}

#heating-switch::-webkit-slider-thumb {
   -webkit-appearance: none !important;
   width: 26px;
   height: 26px;
   border-radius: 13px;
   margin-top: 1px;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: inset -2px -3px 3px rgba(0, 0, 0, 0.5);
}

#heating-label {
   display: block;
   background-color: rgba(0,0,0,0);
   color: rgba(255, 255, 255, 0.7);
   position: relative;
   top: -8px;
   font-size: 14px;
}


/* Energy Bill */
#energy-bill {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   width: 600px;
   height: 553px;
   background: url('images/bill.png') no-repeat 0 0;
   font-size: 14px;
   font-family: arial, sans-serif;
   font-weight: bold;
   text-align: right;
}

#bill-summary-date {
   position: absolute; top: 107px; left: 185px; font-size: 12px; font-weight: normal;
}
            
#bill-summary-amount {
   position: absolute; top: 107px; left: 285px; font-size: 12px; font-weight: normal;
}
            
#bill-energy {
   position: absolute; top: 315px; left: 350px; width: 150px; 
}

#bill-rate {
   position: absolute; top: 349px; left: 350px; width: 150px;
}
            
#bill-subtotal {
   position: absolute; top: 383px; left: 350px; width: 150px;
}
            
#bill-previous {
   position: absolute; top: 417px; left: 350px; width: 150px;
}
            
#bill-total {
   position: absolute; top: 487px; left: 350px; width: 150px;
}

#paid-stamp {
   position: absolute;
   top: 80px;
   left: 250px;
   background: url('images/paid.png') no-repeat 0 0;
   width: 300px; height: 300px;
   visibility: hidden;
}

/* Pay now button */
#pay-now {
   padding: 9px 15px;
 	border-radius: 20px;  /* rounded corners */
   background-color: #d22;
   box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.3);
   background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(0,0,0,0.3) 80%);
   text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
   border: 1px solid #666;
   text-align: center;
   display: block;
   font-family: sans-serif;
   font-weight: 400;
   font-size: 15px;
   color: white;
   position: absolute;
   left: 30px;
   bottom: 30px;
}

#pay-now:hover { background-color: #f00; }

#pay-now:active {
  background-color: #d22;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}


